<% provide(:title, "Candidate Responses") %>
<main class="main" id="page"> 
  <div class="row">  
    <h1>Candidate Responses - <%= @candidate.name %></h1>
    <p>
      <%= infoText @candidate %>
    </p>
  </div>
  <% if @candidate.section1 %>
    <div class="row"> 
      <h4>Seeking a fair, honest, and open government that works for all:</h4>
    </div>
    <div class="row"> 
        <p><%= @candidate.section1 %></p>
    </div>
  <% end %>
  <% if @candidate.section2 %>
    <div class="row"> 
      <h4>Seeking broader rights and better wages for workers:</h4>
    </div>
    <div class="row">
      <p><%= @candidate.section2 %></p>
    </div>
  <% end %>
  <% if @candidate.section3 %>
    <div class="row"> 
      <h4>Seeking to maintain a strong economy:</h4>
    </div>
    <div class="row">
      <p><%= @candidate.section3 %></p>
    </div>
  <% end %>
  <% if @candidate.section4 %>
    <div class="row"> 
      <h4>Seeking to provide a quality public education for all children, as guaranteed by our State Constitution:</h4>
    </div>
    <div class="row">
      <p><%= @candidate.section4 %></p>
    </div>
  <% end %>
  <% if @candidate.section5 %>
    <div class="row"> 
      <h4>Seeking justice and equality for all:</h4>
    </div>
    <div class="row">
      <p><%= @candidate.section5 %></p>
    </div>
  <% end %>
  <% if @candidate.section6 %>
    <div class="row"> 
      <h4>Seeking recognition of the fundamental right to affordable housing, health care and retirement security:</h4>
    </div>
    <div class="row">
      <p><%= @candidate.section6 %></p>
    </div>
  <% end %>
  <% if @candidate.section7 %>
    <div class="row"> 
      <h4>Seeking a clean and safe environment:</h4>
    </div>
    <div class="row">
      <p><%= @candidate.section7 %></p>
    </div>
  <% end %>
  <% if @candidate.section8 %>
    <div class="row"> 
      <h4>Seeking a peaceful and secure world:</h4>
    </div>
    <div class="row">
      <p><%= @candidate.section8 %></p>
    </div>
  <% end %>
</div>