<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#003262">
    <%= render 'layouts/shim'%>
    <title><%= yield(:title) %> | Progressive Candidate Assessment</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body id="all">
    
    
    <div id="content">
      <%= render 'layouts/head'%>
      <%= yield %>    
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
