<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <%= render 'layouts/shim'%>
    <%= render 'layouts/metadata'%>
    <title><%= yield(:title) %> | Progressive Candidate Assessment for Polk County</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= render 'layouts/analytics'%>
    <%= render 'layouts/tagsHead'%>
  </head>

  <body id="all">
    <%= render 'layouts/tagsBody'%>
    
    <div id="content">
      <div class='thetop'></div>
      <%= render 'layouts/header'%>
      <%= yield %>
      <%= render 'layouts/scrollTop'%>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
